# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environment
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
